html,
body {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

.hero-section {
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
}

.image-side {
    flex: 1;
    height: 100%;
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
    }
}