{% extends "base.html" %} 
{% load static %} 

{% block title %}
About Us
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static "style.css"%}">
{% endblock %}

{% block content %}
<div class="container-fluid p-0">
    <div class="row no-gutters hero-section">
        <div class="col-md-6 p-4 d-flex justify-content-center">
              <div style="width: 50%">
                <h1>About Us</h1>
                <p class="text-wrap">Welcome to The Restaurant, where passion meets palate. Discover a culinary haven in the heart of Dhaka, where our chefs craft extraordinary dishes that blend tradition with innovation. Immerse yourself in an inviting ambiance, savor diverse flavors, and create lasting memories with friends and family. Join us at The Restaurant for a dining experience beyond the ordinary – where every dish tells a story and every moment is a celebration of exceptional taste.</p>
              </div>
        </div>
        <div class="col-md-6 image-side" style="background-image: url('{% static "about.jpg"%}');">
      </div>

    </div>
  </div>
{% endblock %}