{% extends 'base.html' %} 

{% block title %}
Menu
{% endblock %}

{% block content %}
<main class="container">
  <h1 class="pt-4 ps-4">Items</h1>
  <div class="card_container d-flex justify-content-between flex-wrap">
    {% for each in meal.categories %}
        <div class="card m-4" style="width: 24rem">
          <img src="{{ each.strCategoryThumb }}" class="card-img-top p-4" alt="..." />
          <div class="card-body bg-warning">
            <h5 class="card-title">{{ each.idCategory }}. {{ each.strCategory }}</h5>
            <p class="card-text">{{ each.strCategoryDescription | truncatewords:10 }}</p>
          </div>
        </div>
    {% endfor %}
  </div>
</main>
{% endblock %}